.dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  height: 100vh;
}

.panel.ai {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width:1600px) {
  .dashboard { grid-template-columns: 2fr 1fr; }
}

@media (max-width:1024px) {
  .dashboard { grid-template-columns: 1fr; }
  .panel.ai { order: 3; }
}
